/* Styling for Assignment 8 - Vote Checker*/ 

body {
    text-align: center; 
    background-color: #F5F5F5; 
    font-size: 30px; 
    }

h2 {
    text-shadow: 2px 2px #ff0000;
    font-size: 50px;
    color: #1E90FF;  
    }

input, select, button{ 
    font-size: 30px; 
    }

/* -- Classes --- */ 
.main-image {
    height: 350px; 
    width: 330px; 
    }

.results-output-image {
    width: auto; 
    height: 200px; 
    }

.results-output {
    font-size: 40px;
    font-weight: bold; 
    color: #FFFFFF; 
    }


